﻿@{
    ViewBag.Title = "apple-logo";
    Layout = "~/Views/Shared/master.cshtml";
}
@section HeadSection{
    <link rel="stylesheet" type="text/css" href="../assets/css/main.css">
}

<div class="container" id="container">
</div>
<aside class="side">
    Attempts: <span id="move-count">0</span>
</aside>
@section ScriptSection{
    <script id="cardTemplate" type="text/x-jquery-tmpl">
        <div class="scene3D">
            <div class="flip" id="${Id}">
                <div>
                    <p>
                    </p>
                </div>
                <div>
                    <img src="${Image}" />
                </div>
            </div>
        </div>
    </script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="../assets/js/jquery.tmpl.min.js"></script>
    <script type="text/javascript" src="../assets/js/main.js"></script>
}
